#container{
	width:330px;
	min-height:440px;
	background:#333;
	overflow:auto;
	margin:60px auto;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:#660 solid 2px;
}
